/* specific css added to html, needs to remain in output folder so that it is accessible to team.html */
.team-heading {
    background-color: rgb(86, 0, 121);
    color: white;
    border-radius: 0;
}

.card {
    width: 16rem;
    margin: 1rem;
}

.card-header {
    background-color: rgb(221, 221, 221);
    border: none;
}